
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/hero" routerLinkActive="active">Hero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/villain" routerLinkActive="active">Villian</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/charts/1" routerLinkActive="active">Charts</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-5em">
      <!-- <p  [innerHTML]="htmlContent"></p>
      <input type="text" class="form-control" [(ngModel)]="htmlContent" /> -->
    <router-outlet></router-outlet>
  </div>
  <spinner [spinner]="spinkit.skCubeGrid"></spinner>

<!-- <app-hero-component></app-hero-component> -->